
#burger-pic {

    background-image: url("../img/burger.jpg");
    background-repeat: no-repeat;
    height: 400px;
    margin-left: 235px;
}





h1 {
    font-size: 52px;
    text-align: center;
    color: blue;

}

.btn-success {
    width: 120px;
    font-size: 30px;
}

.btn-default {
    background-color: red;
    color: white;

}